*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background: url("./fork.jpg");
    background-size: cover;
    height: 1000px;
    width: 100%; 
}
nav{
    background: #333333;
    height: 70px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 25px;
    line-height: 70px;
    padding: 0 140px;
}
 nav ul{
    float: right;
    margin-right: 105px;
}
nav ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 0;
}
nav ul li a{
    color: white;
    font-size: 15px;
    padding: 27px 40px;
    border-radius: 0px;
    margin-right: -5px ;
}
a.active,a:hover{
    background: #444444;
    transition: .5s;
}
#AC-TIVE:hover{
    color: #F7C08A; 
}
section{
    background:#F4F4F4;
    height: 110px;
    width: 100%;
    
}
.SP-1{
    color: #F7C08A;
}
h1{
    font-size: 41px;
    font-weight:700;
    color: #333333;
    padding: 20px 0 20px 140px;
}
.BRI-CKS{
    height: 280px;
    clip-path:ellipse();
    float: right;
    margin-top: -260px;
    margin-right: 230px;
}
p{
    font-size: 17px;
    line-height: 27px;
    padding-left: 140px;
    font-weight: 200;
}
.P-1{
    padding-top: 10px;
}
.H-1{
    color: white;
    padding-left: 460px;
    padding-top:250px ;
    margin-bottom: 26px;
}
.GIRL-1{
    height: 110px;
    clip-path: circle();
    float: left;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 20px;
}
.P-2{
    margin-top: 12px;
    line-height: 25px;
    font-weight: 100;
    display: inline-block;
    background: #EFBC8B;
    padding: 30px 40px 30px 160px;
    margin-left: -160px;
}
.GIRL-2{
    height: 110px;
    clip-path: circle();
    float: left;
    margin-top:210px ;
    margin-left: -130px;
    margin-right: 20px;
}
.P-4{
    margin-top: 350px;
    line-height: 25px;
    font-weight: 100;
    display: inline-block;
    background: #EFBC8B;
    padding: 30px 40px 30px 160px;
    margin-left: -160px;
}
.NA-V{
    background: #333333;
    margin-top:570px ;
    height: 71px;
    width: 100%;
}
.P-5{
    color: white;
    font-size: 18px;
    padding-top: 25px;
    padding-left: 550px;
}

